.single-product{
    .image{
        padding: 0;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        background-size: cover;
        background-position:50%;
        min-height:300px;
      }
}